p {
    font-family: Inter, sans-serif;
    color: #ffffffff;
}

.bg-blur{
  background-color: #151514; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

.highlight{
    background-color: #c2efebff;
    color: #151514
}

h1 {
    font-family: Inter, sans-serif;
    font-size: 76px;
    font-weight: bold;
    color: #ffffffff;
    border: 5px double #d76a03ff;
    text-align: center;
    border-width: 5px;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    color: #ffffffff;
    font-family: Inter, sans-serif;
    font-size: 36px;
    text-align: center;
}

h3{
    color: #ffffffff;
    font-family: Inter, sans-serif;
    font-size: 24px;
    text-align: center;
    word-spacing: 30px;
}
